
version: "3.9"

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: brewdata
      POSTGRES_USER: brewuser
      POSTGRES_PASSWORD: brewpass
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 20
    ports:
      - "5432:5432"
    networks:
      - etl_net

  etl:
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: brewdata
      POSTGRES_USER: brewuser
      POSTGRES_PASSWORD: brewpass
      POSTGRES_PORT: 5432
    depends_on:
      db:
        condition: service_healthy
    networks:
      - etl_net

networks:
  etl_net:
    driver: bridge
